
$darkBlue: hsl(228, 39%, 23%);
$brightRed: hsl(12, 88%, 59%);
$white: #ffffff;
$veryLightGray: hsl(0, 0%, 98%);
$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$VeryPaleRed: hsl(13, 100%, 96%);

$font-med:1.125rem;
$font-xsm: 0.875rem;
$font-xlg:3.25rem;
$font-lg:1.25rem;
$font-sm:1rem;